
* {
  box-sizing: border-box;
}

h1 {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 2rem;
}

p {
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}


.archivo-font> {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Header with Logo*/
header {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

/* Navigation Bar */

nav li {
    list-style-type: none;
    font-family: "Archivo", sans-serif;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}




.layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 2rem;
    margin: 0 auto;
    padding: 2rem;
    max-width: 100vw;
    grid-template-areas:
        "sidebar overview"
        "sidebar maincontent"; 
    align-self: start;
}

.sidebar {
    grid-area: sidebar;
    position: sticky;
    top: 0;
    align-self: start;
}

.sidebar li {
    margin-bottom: 1rem;
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    list-style-type: none;
}

.overview {
    grid-area: overview;
}

.maincontent {
    grid-area: maincontent;
}

.content-section {
    display: grid;
    align-items: start;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "title title"
        "images texts";
    gap: 2rem;
}


.subheading {
    grid-area: title;
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    
}


.imageside {
    grid-area: images;
    display: grid;
    gap: 1rem;

}

.textside {
    grid-area: texts;
    justify-self: center;
    position: sticky;
    top: 6rem;
    align-self: start;

    max-width: 45ch;

}


.imagefull {
    margin: 2rem 0 3rem;
    
}

.imageside img,
.imagefull img {
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
