
* {
  box-sizing: border-box;
}

h1 {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 2rem;
}

p {
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}


h2 {
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.archivo-font> {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Header with Logo*/
header {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

/* Navigation Bar */

nav {
    background-color: white;
    position: sticky;
    top: 0;
}

nav li {
    list-style-type: none;
    font-family: "Archivo", sans-serif;
    font-weight: 500;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}




.layout {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 2rem;
    margin: 0 auto;
    padding: 2rem;
    max-width: 100vw;
    grid-template-areas:
        "sidebar overview"
        "sidebar maincontent"; 
    align-self: start;
}

.sidebar {
    margin-top: 20px;
    grid-area: sidebar;
    position: sticky;
    top: 0;
    align-self: start;
}

.sidebar li {
    margin-top: 2rem;
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    list-style-type: none;
}

.sidebar ul {
    padding: 0;
}

.overview {
    grid-area: overview;
}

.overview img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 1rem;
}

.maincontent {
    grid-area: maincontent;
}

.adresse {
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.content-section {
    display: grid;
    align-items: start;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "title title"
        "images texts";
    gap: 2rem;
    max-width: 100vw;
}


.subheading {
    grid-area: title;
    
    
}


.imageside {
    grid-area: images;
    display: grid;
    gap: 1rem;

}

.textside {
    grid-area: texts;
    justify-self: center;
    position: sticky;
    top: 4rem;
    align-self: start;

    max-width: 45ch;

}


.imagefull {
    margin: 2rem 0 3rem;
    
}

.imageside img,
.imagefull img {
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* mobile phon */
@media screen and (max-width: 700px) {

    .layout {
        padding: 1rem;
        grid-template-columns: 1fr 5fr;
        grid-template-areas:
            "sidebar" "overview"
            "sidebar" "maincontent";
    }
    .content-section {
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "texts"
            "images";
    }

    .textside {
        position: static;
        justify-self: start;
        max-width: 100%;
    }

    .sidebar {
        grid-area: sidebar;
        position: sticky;
        top: 0;
        align-self: start;
    }
    
    .sidebar li {
        margin-bottom: 1rem;
        font-family: "Archivo", sans-serif;
        font-weight: 600;
        font-size: 0.875rem;
        list-style-type: none;
    }
}

